<app-header>
  </app-header>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped table-hover ">
        <tr>
          <th class="thead-light" *ngFor="let key of keys">{{key}}
          </th>
          <th>Quantity</th>
        </tr>
        <tr *ngFor="let data of data">
          <td>{{data.name}}</td>
          <td>{{data.category}} </td>
          <td>{{data.price}}</td>
          <td>
            <input type="number" />
          </td>
        </tr>
      </table>
      <table>
        <!-- <tr *ngFor="let item of data | filter: 'category' : 'fruit'">
            <td>item.name</td>
          </tr> -->
      </table>
      <div>
      </div>
  