body {
  font-family: "Lato", sans-serif;
}

.navButton {
  left: 5px;
  top:2px;
  position: absolute;
  font-size: 30px;
  cursor: pointer
}
.container-fluid{
    margin-left: 30px
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  background: #2874f0;
  display: block;
  transition: 0.3s;
  color:white;
  

}
.listitem{
  border-bottom: 1px solid;
  font-weight: lighter;
}
.sidenav{
  background: #2874f0;
  opacity: 0.8;
  color: white;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.navbar-brand{
  color: white;
}
.navbar{
  background: #2874f0;
  color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
