<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Shopping Cart</a>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a class="listitem" (click)="displayCategory('diary')">Dairy</a>
        <a class="listitem" (click)="displayCategory('biscuit')">Biscuit</a>
        <a class="listitem" (click)="displayCategory('vegetable')">Vegetable</a>
        <a class="listitem" (click)="displayCategory('fruit')">Fruit</a>

      </div>
      <span class="navButton" (click)="openNav()">&#9776;</span>


    </div>
  </div>
</nav>
