<app-header>
</app-header>
<div class="container">
  <div class="table-responsive">
    <table class="table table-striped table-hover ">
      <tr>
        <th class="thead-light" *ngFor="let key of keys">{{key}}
        </th>
        <th>Quantity</th>
      </tr>
      <tr *ngFor="let d of data">
        <td>{{d.name}}</td>
        <td>{{d.category}} </td>
        <td>{{d.price}}</td>
        <td class="quantity" >
          <input type="number" id="quantity_{{d.name}}"/>
        </td>
      </tr>
    </table>
    <table>
      <!-- <tr *ngFor="let item of data | filter: 'category' : 'fruit'">
          <td>item.name</td>
        </tr> -->
    </table>
    <div>
    </div>
